{
  "env": {
    "browser": true
  },
  "extends": "standard",
  "globals": {
    "chrome": true,
    "crypto": true
  },
  "parser": "babel-eslint",
  "plugins": ["jasmine"],
  "rules": {
    "node/no-missing-require": ["error", {
      "allowModules": ["fs", "http", "https", "url"]
    }]
  }
}
